<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login and Registration</title>
  </head>
  <body>
    {% if messages %}

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

    {% endif %}
    <h2>Registration</h2>
    <form action="/registration" method="post">
      {% csrf_token %}
      Name:<input type="text" name="name"><br>
      Alias:<input type="text" name="alias"><br>
      Email: <input type="text" name="email"><br>
      Password:<input type="password" name="password"><br>
      <p>Password Should be atleast 8 characters</p>
      Confirm pw:<input type="password" name="confirm_password"><br>
      Birth Day:<input type="date" name="birthday">
      <input type="submit" value="Register">
    </form>
    <h2>Login</h2>
    <form action="/login" method="post">
      {% csrf_token %}
      Email:<input type="text" name="email"><br>
      Password:<input type="password" name="password"><br>
      <input type="submit" value="Login">

    </form>

  </body>
</html>
